#filePicker {
    text-align: center;
}

table {
    width: -webkit-fill-available; 
    margin-left:7%; 
    margin-right:3%;
}

th.mat-header-cell {
    text-align: center;
    font-size: larger;
    font-weight: 500;
    color:black
}

td {
    text-align: center;
    font-size: larger;
    font-weight: 500;
}